@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

.body{
    width: 100%;
    --offset: 2em;
    padding: calc(1.2 * var(--font-size)) 0;
    position: relative;
    background-image: linear-gradient(52deg, rgba(163, 163, 163, 0.09) 0%, rgba(163, 163, 163, 0.09) 33.3%,rgba(100, 100, 100, 0.09) 33.3%, rgba(100, 100, 100, 0.09) 66.6%,rgba(162, 162, 162, 0.09) 66.6%, rgba(162, 162, 162, 0.09) 99%),linear-gradient(258deg, rgba(193, 193, 193, 0.06) 0%, rgba(193, 193, 193, 0.06) 33.3%,rgba(169, 169, 169, 0.06) 33.3%, rgba(169, 169, 169, 0.06) 66.6%,rgba(92, 92, 92, 0.06) 66.6%, rgba(92, 92, 92, 0.06) 99%),linear-gradient(129deg, rgba(45, 45, 45, 0.03) 0%, rgba(45, 45, 45, 0.03) 33.3%,rgba(223, 223, 223, 0.03) 33.3%, rgba(223, 223, 223, 0.03) 66.6%,rgba(173, 173, 173, 0.03) 66.6%, rgba(173, 173, 173, 0.03) 99%),linear-gradient(280deg, rgba(226, 226, 226, 0.06) 0%, rgba(226, 226, 226, 0.06) 33.3%,rgba(81, 81, 81, 0.06) 33.3%, rgba(81, 81, 81, 0.06) 66.6%,rgba(186, 186, 186, 0.06) 66.6%, rgba(186, 186, 186, 0.06) 99%),linear-gradient(85deg, rgba(225, 225, 225, 0.04) 0%, rgba(225, 225, 225, 0.04) 33.3%,rgba(95, 95, 95, 0.04) 33.3%, rgba(95, 95, 95, 0.04) 66.6%,rgba(39, 39, 39, 0.04) 66.6%, rgba(39, 39, 39, 0.04) 99%),linear-gradient(128deg, rgba(184, 184, 184, 0.06) 0%, rgba(184, 184, 184, 0.06) 33.3%,rgba(0, 0, 0, 0.06) 33.3%, rgba(0, 0, 0, 0.06) 66.6%,rgba(140, 140, 140, 0.06) 66.6%, rgba(140, 140, 140, 0.06) 99.89999999999999%),linear-gradient(323deg, rgba(40, 40, 40, 0.07) 0%, rgba(40, 40, 40, 0.07) 33.3%,rgba(214, 214, 214, 0.07) 33.3%, rgba(214, 214, 214, 0.07) 66.6%,rgba(190, 190, 190, 0.07) 66.6%, rgba(190, 190, 190, 0.07) 99.89999999999999%),linear-gradient(61deg, rgba(230, 230, 230, 0) 0%, rgba(230, 230, 230, 0) 33.3%,rgba(241, 241, 241, 0) 33.3%, rgba(241, 241, 241, 0) 66.6%,rgba(55, 55, 55, 0) 66.6%, rgba(55, 55, 55, 0) 99%),linear-gradient(0deg, rgb(108,35,209),rgb(50,215,244));

}
/*
.body::before{
    content: '';
    position: absolute;
    top: var(--offset);
    right: var(--offset);
    bottom: var(--offset);
    left: var(--offset);
    background-color: rgba(255, 255, 255, 0.014);
    backdrop-filter: blur(3px);
    border-radius: .8em;
    z-index: 0;
} 
*/

.profession{
    height: calc(2 * var(--font-size));
    width: auto;
    display: block;
    margin: 0 auto calc(.8 * var(--font-size));
}

.main-info-section{
    width: 100%;
}

.info-card{
    width: 100%;
    padding: calc(1.5 * var(--font-size));
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: rgba(255, 255, 255, 0.096);
    border-radius: 25% / 15%;
    z-index: 10;
    backdrop-filter: blur(10px);
    --glass-tint: 1px solid rgba(255, 255, 255, 0.253);
    border-top: var(--glass-tint);
    border-left: var(--glass-tint);
    box-shadow: 5px 5px 30px rgba(255, 255, 255, 0.103);
}

.info-card::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.048);
    border-radius: 25% / 15%;
    z-index: 0;
    border-bottom: var(--glass-tint);
    border-right: var(--glass-tint);
    transform: scale(.99) rotate(2deg);
}

.portrait-section{
    width: 40%;
}

.portrait{
    width: 90%;
    height: auto;
    border-radius: 61% 39% 49% 51% / 45% 66% 34% 55%;
    border-top: .15em solid var(--highlighht-color);
    border-right: .5em solid var(--highlighht-color);
    border-bottom: .3em solid var(--highlighht-color);
    border-left: .15em solid var(--highlighht-color);
    box-shadow: 3px 3px 2em rgba(0, 0, 0, 0.116);
}

.info-section{
    width: 55%;
}

.data{
    list-style-type: none;
    width: 80%;
}

.datum{
    width: 100%;
    margin-bottom: 1em;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    font-size: calc(.7 * var(--font-size));
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    color: rgb(24, 24, 24);
}

.datum label{
    --width: calc(5 * var(--font-size));
    width: var(--width);
    min-width: var(--width);
}

.datum .initial{
    height: calc(.85 * var(--font-size));
    width: auto;
    margin: 0 .05em 0 0;
    transform: translateY(.3rem);
}

.datum .text-data,
.datum label{
    text-shadow: 1px 1px 2px rgba(255, 250, 240, 0.226),
                 1px 1px 4px rgba(255, 250, 240, 0.11);
}

.datum .text-data.name{
    /*color: var(--highlighht-color);*/
    /*text-shadow: 1px 1px 4px rgba(68, 0, 0, 0.568);*/
}