.main-info-section{
    width: 100%;
    margin-bottom: calc(2 * var(--font-size));
    user-select: none;
}

.info-card{
    width: 100%;
    padding: calc(1.5 * var(--font-size));
    position: relative;
    background-color: rgba(255, 255, 255, 0.096);
    border-radius: 25% / 15%;
    z-index: 10;
    backdrop-filter: blur(10px);
    --glass-tint: 1px solid rgba(255, 255, 255, 0.253);
    border-top: var(--glass-tint);
    border-left: var(--glass-tint);
    box-shadow: 5px 5px 30px rgba(255, 255, 255, 0.103);
}

.info-card::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.048);
    border-radius: 25% / 15%;
    z-index: 0;
    border-bottom: var(--glass-tint);
    border-right: var(--glass-tint);
    transform: scale(.99) rotate(2deg);
}

.info-card .info{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.info-card .profession{
    height: calc(2 * var(--font-size));
    width: auto;
    display: block;
    margin: 0 auto calc(.8 * var(--font-size));
    position: relative;
    filter: drop-shadow(2px 2px 5px rgba(255, 255, 255, 0.308));
}

.hoverable{
    transition: all .5s ease-in-out;
}

.hoverable:hover{
    transform: scale(1.04) rotate(-0.5deg);
}

.info-card .portrait-section{
    width: 40%;
}

.info-card .portrait{
    width: 90%;
    height: auto;
    border-radius: 61% 39% 49% 51% / 45% 66% 34% 55%;
    border-top: .15em solid var(--highlight-color);
    border-right: .5em solid var(--highlight-color);
    border-bottom: .3em solid var(--highlight-color);
    border-left: .15em solid var(--highlight-color);
    box-shadow: 3px 3px 2em rgba(0, 0, 0, 0.116);
}

.info-card .info-section{
    width: 55%;
}

.data{
    list-style-type: none;
    width: 80%;
}

.datum{
    width: 100%;
    margin-bottom: 1em;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    font-size: calc(.7 * var(--font-size));
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    color: rgb(24, 24, 24);
}

.datum label{
    --width: calc(5 * var(--font-size));
    width: var(--width);
    min-width: var(--width);
}

.datum .initial{
    height: calc(.85 * var(--font-size));
    width: auto;
    margin: 0 .05em 0 0;
    transform: translateY(.3rem);
}

.datum .initial:hover{
    transform: translateY(.3rem) scale(1.2) rotate(-2deg);
}

.datum .text-data,
.datum label{
    text-shadow: 1px 1px 2px rgba(255, 250, 240, 0.226),
                 1px 1px 4px rgba(255, 250, 240, 0.11);
}

.interests .blurb{
    width: 80%;
    margin: 0 auto;
}

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 2s all ease;
}

.reveal.active{
    transform: translateY(0);
    opacity: 1;
}

.blurb{
    padding: calc(1.1 * var(--font-size));
    background-color: rgb(240, 255, 255);
    border-radius: calc(1.5 * var(--font-size));
    position: relative;
    z-index: 2;
    user-select: none;
}

.blurb::before,
.blurb::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

}

.blurb::before{
    background-color: inherit;
    clip-path: polygon(0 95%, 2% 77%, 5% 88%);
}

.blurb,
.blurb::before{
    box-shadow: 3px 3px 15px rgba(245, 245, 245, 0.212);
}

.blurb::after{
    background-color: rgba(240, 255, 255, 0.041);
    border-radius: inherit;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(68,67,136,0.25);
    transform: scale(1) rotate(.8deg);
    z-index: 0;
    opacity: .3;
}

.blurb .short-description{
    z-index: 5;
    position: relative;
    font-size: 1.5em;
    font-family: 'Josefin Sans', sans-serif;
    text-indent: calc(var(--font-size));
    line-height: 1.4;
    text-shadow: 2px 1px 3px rgba(26, 26, 26, 0.185);
}

.blurb .short-description::before,
.blurb .short-description::after{
    content: '" ';
    position: relative;
    display: inline-block;
    font-size: 2em;
    font-family: 'Cormorant Garamond', serif;
    text-indent: 0;
    line-height: .4;
}

.social-medias
{
    width: 100%;
    margin: calc(2 * var(--font-size)) 0;
    padding: calc((2 * var(--font-size)));
    position: relative;
}

.glass-bg,
.glass-bg::before{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 20% / 40%;
    background-color: rgba(240, 255, 255, 0.918);
    transform: rotate(-1deg);
}


.glass-bg::before{
    content: '';
    background-color: rgba(240, 255, 255, 0.562);
    transform: scale(1.01) rotate(2deg);
}

.glass-bg::after{
    content: '';
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: inherit;
    clip-path: polygon(0 95%, 2% 77%, 5% 88%);
}

.glass-bg ~ *{
    position: relative;
    z-index: 2;
}

.media-info{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition: all .5s ease;
}

.media-info:hover{
    transform: scale(1.03);
}

.media-info .message{
    margin-bottom: calc(0.5 * var(--font-size));
    font-size: 2em;
    font-family: 'Josefin Sans', sans-serif;
}

.media-info .medias{
    list-style-type: none;
    width: 80%;
    max-height: calc(3.5 * var(--font-size));
    margin: 0 auto;
    display: flex;
    flex-flow: column wrap;
    align-content: space-between;
    gap: 1em;
}

.media-info .medias .media{
    flex-grow: 4;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 2em;
}

.media-info .medias .media .media-icon{
    height: 1em;
    aspect-ratio: 1 / 1;
    transform: translateY(.1em);
}

.media-info .medias .media .media-icon.i-facebook{ color: rgb(75, 75, 255); }
.media-info .medias .media .media-icon.i-instagram{ 
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.media-info .medias .media .media-icon.i-github{ color: #171515; }
.media-info .medias .media .media-icon.i-linkedin{ color: #0077b5; }
.media-info .medias .media .media-icon.i-pinterest{ color: #E60023; }

.media-info .medias .media .media-link{
    text-decoration: none;
    font-family: 'Frank Ruhl Libre', serif;
    font-weight: 300;
    color: rgb(28, 118, 253);
    text-indent: .2em;
    transition: all .5s ease-in-out;
}

.media-info .medias .media .media-link:hover{
    color: var(--highlight-color);
    transform: scale(1.05);
}